body { text-align: center; }

body .mainImg { width: 100%; height: 340px; margin-top: 60px; overflow: hidden; background: url(../../images/theblack_bg.jpg) no-repeat 50% 0; }

body .mainImg .miniMenu { display: flex; justify-content: flex-end; font-size: 12px; padding-top: 20px; }

body .mainImg .miniMenu > li { margin-right: 20px; }

body .mainImg .miniMenu > li ul { display: none; }

body .mainImg .miniMenu > li a { color: #fff; }

body .mainImg .mainTxt { text-align: center; margin-top: 80px; }

body .mainImg .mainTxt h2 { color: #fff; font-size: 50px; }

body .mainImg .mainTxt > p { color: #c7c7c7; font-size: 16px; line-height: 3; padding-top: 0; }

body .theBackTitle { width: 100%; padding: 140px 0 65px; text-align: center; background: url(../../images/heritage/list_bg.jpg) no-repeat 50% 100%; margin-bottom: -90px; }

body .theBackTitle img { margin: 0 auto; }

body h3 { background: url(../../images/intro/lab_tt_bg.gif) no-repeat 50% 100%; font-size: 35px; letter-spacing: 8px; padding: 25px 0; margin-top: 150px; }

body p { padding: 60px 0 40px; font-size: 14px; line-height: 1.5; color: #acacac; }

body div { overflow: hidden; }

body div > ul.Slider { display: flex; flex-wrap: nowrap; width: 500%; }

body div > ul.Slider li { width: 100%; }

body div .layList { display: flex; width: 1000px; margin: 0 auto; padding-top: 60px; }

body div .layList li { background: url(../../images/theblack_bg03.png) no-repeat 0 0; width: 480px; margin-left: 40px; }

body div .layList li:first-child { margin-left: 0; }

body div .layList li h4 { padding-top: 40px; font-size: 18px; }

body div .layList li p { padding-top: 10px; }
