html { font-size: 10px; }

body { font-family: "Lexend", "Noto Sans KR", sans-serif; font-size: 1.6rem; color: #111111; }

a { color: inherit; text-decoration: none; }

button { background: none; border: none; outline: none; }

.hidden { display: none; }

.container .banner { position: relative; height: 340px; background: url("../images/history_visual.jpg") no-repeat 50% 0; }

.container .banner .firstMenu { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 20px; top: 26px; }

.container .banner .firstMenu .firstLi { display: -webkit-box; display: -ms-flexbox; display: flex; padding-left: 10px; margin-right: 10px; font-size: 12px; color: #fff; background: url(../images/heritage/location_bar.gif) no-repeat 0 50%; }

.container .banner .firstMenu .firstLi a { padding-right: 10px; background: url(../images/heritage/location_arrow2.gif) no-repeat 100% 50%; }

.container .banner .firstMenu .firstLi .secondMenu { display: none; position: absolute; text-align: left; }

.container .banner .firstMenu .firstLi .secondMenu a { padding: 10px; display: block; }

.container .banner .firstMenu .firstLi:first-child { background: none; }

.container .banner .firstMenu .firstLi:first-child a { margin: 0; padding: 0; background: none; }

.container .banner .d { height: 259px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; line-height: 1.5; }

.container .banner .d h1 { padding: 100px 0 10px 0; color: #fff; font-size: 50px; font-weight: 400; text-align: center; }

.container .banner .d p { color: #c7c7c7; font-size: 16px; text-align: center; }

.contents { position: relative; width: 100%; margin: 50px auto; background: url(../images/heritage/history_pointer.png) no-repeat 50% 460px; }

.contents .hTitle { padding: 80px 0 245px 0; text-align: center; background: url(../images/heritage/list_bg.jpg) no-repeat 50% 60%; }

.contents .hTitle h4 { color: #777; font-size: 45px; font-weight: 500; padding-bottom: 40px; line-height: 1.25; }

.contents .hTitle .subtitle p { color: #777; font-size: 20px; }

.contents .yearTitle { margin: 0 0 60px 0; text-align: center; }

.contents .yearTitle h1 { font-size: 35px; padding-bottom: 15px; }

.contents .yearTitle p { font-size: 16px; color: #777; }

.contents .year { background-repeat: no-repeat; background-position: 50% 15px; width: 1000px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; }

.contents .year .picture { width: 400px; padding-right: 80px; text-align: right; }

.contents .year .cont { display: -webkit-box; display: -ms-flexbox; display: flex; }

.contents .year .cont ul { margin-left: 10px; width: 550px; height: 380px; }

.contents .year .cont ul li { background: url(../images/heritage/history_bullet.png) no-repeat 2.5px 15px; padding: 0 0 40px 45px; font-size: 12px; line-height: 1.5; }

.contents .year .cont ul li em { padding-bottom: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 28px; }

.contents .year .cont ul li span { font-weight: 600; display: inline-block; }

.contents .year .cont ul li p { color: #a1a1a1; word-spacing: -3px; }

.contents .year1 { background-image: url(../images/heritage/history_bg1.gif); }

.contents .year2 { background-image: url(../images/heritage/history_bg2.gif); height: 300px; }

.contents .year2 .picture { padding-top: 50px; }

.contents .paper { padding-bottom: 75px; }

.contents .paper ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin: 0 auto; width: 1000px; }

.contents .paper ul li .name { padding-top: 15px; text-align: center; }

.contents .paper ul li .name p { font-size: 14px; padding-bottom: 5px; }

.contents .paper ul li .name span { font-size: 12px; color: #a1a1a1; }

.contents .year3 { background-image: url(../images/heritage/history_bg3.gif); height: 430px; }

.contents .year3 .picture { padding: 0 115px; }

.contents .year3_1 { background-image: url(../images/heritage/history_bg3.gif); background-position: 50% -5px; margin-bottom: 30px; }

.contents .year4 { background-image: url(../images/heritage/history_bg4.gif); height: 500px; }

.contents .year5 { background-image: url(../images/heritage/history_bg5.png); background-position: 50% -5px; height: 1200px; }

.contents .year5 .cont ul { padding-top: 75px; }

.contents .year5 .cont ul li { padding-bottom: 0; }

.contents .year5 .cont ul li p { padding-bottom: 40px; }

.contents .year5 .picture { padding-top: 75px; }

.contents .yearVideo { position: relative; width: 1000px; height: 220px; margin: 0 auto; }

.contents .yearVideo a { position: absolute; left: 0; top: 0; z-index: 50; }

.contents .yearVideo iframe { position: absolute; left: 0; top: 0; width: 100%; height: 655px; display: none; }

.contents .award { width: 1000px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.contents .award .scrollBox { position: relative; overflow: hidden; height: 100%; max-width: 100%; }

.contents .award .scrollBox ul { width: 1820px; height: 300px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.contents .award .scrollBox ul li { text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-repeat: no-repeat; background-position: 0 0; width: 185px; margin-right: 18px; }

.contents .award .scrollBox ul li p { padding-top: 190px; font-size: 11px; line-height: 1.25; word-spacing: -2px; }

.contents .award .scrollBox ul li em { height: 28px; font-size: 14px; text-align: center; }

.contents .award .scrollBox ul li span { font-size: 12px; text-align: center; color: #a1a1a1; }

.contents .award .scrollBox ul li:nth-child(1) { background-image: url(../images/heritage/history_award_01.jpg); }

.contents .award .scrollBox ul li:nth-child(2) { background-image: url(../images/heritage/history_award_02.jpg); }

.contents .award .scrollBox ul li:nth-child(3) { background-image: url(../images/heritage/history_award_03.jpg); }

.contents .award .scrollBox ul li:nth-child(4) { background-image: url(../images/heritage/history_award_04.jpg); }

.contents .award .scrollBox ul li:nth-child(5) { background-image: url(../images/heritage/history_award_05.jpg); }

.contents .award .scrollBox ul li:nth-child(6) { background-image: url(../images/heritage/history_award_06.jpg); }

.contents .award .scrollBox ul li:nth-child(7) { margin-right: 0; background-image: url(../images/heritage/history_award_07.jpg); }

.contents .award .scroll { height: 100%; }

.contents .award .scroll .draggerContainer { position: absolute; width: 1000px; height: 2px; background-color: #a1a1a1; opacity: 0.75; margin: 6px auto; }

.contents .award .scroll .draggerbar { position: absolute; width: 550px; height: 4px; background-color: #777; margin: 5px 0; border-radius: 16px; }

.wrap { position: absolute; top: 0; left: 0; z-index: 50; width: 100%; height: 100%; overflow: hidden; }

.wrap .hisWrap { position: relative; width: 100%; height: 100%; overflow-y: scroll; padding-right: 20px; }

.wrap .hisWrap .historyList { position: absolute; left: 0; top: 0; z-index: 50; width: 100%; height: 1000px; background: url(../images/heritage/phil_img.jpg) no-repeat 0 0; background-size: cover; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; color: #777; padding-top: 200px; }

.wrap .hisWrap .historyList h3 { padding: 0 0 25px 0; font-size: 35px; background: url(../images/heritage/hotel_bg.gif) no-repeat 50% 100%; color: #000; }

.wrap .hisWrap .historyList p { padding: 55px 0 15px 0; font-size: 15px; }

.wrap .hisWrap .historyList span { font-size: 13px; line-height: 1.25; }

.wrap .hisWrap .historyList ul { margin-top: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.wrap .hisWrap .historyList ul li { margin-left: 5px; width: 238px; height: 238px; background-repeat: no-repeat; background-position: 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.wrap .hisWrap .historyList ul li em { color: #fff; font-size: 21px; }

.wrap .hisWrap .historyList ul li p { padding-top: 30px; font-size: 12px; line-height: 1.25; color: #a1a1a1; }

.wrap .hisWrap .historyList ul li:nth-child(1) { background: url(../images/heritage/list1.jpg); }

.wrap .hisWrap .historyList ul li:nth-child(2) { background: url(../images/heritage/list2.jpg); }

.wrap .hisWrap .historyList ul li:nth-child(3) { background: url(../images/heritage/list3.jpg); }

.wrap .hisWrap .historyList ul li:nth-child(4) { background: url(../images/heritage/list4.jpg); }
