#contents { background-color: #fff; margin-top: 60px; }

#contents .proTop .miniMenu { display: flex; justify-content: flex-end; font-size: 12px; padding-top: 20px; }

#contents .proTop .miniMenu li { margin-right: 20px; }

#contents .proTop .miniMenu li ul { display: none; }

#contents .proTop h2 { font-size: 50px; font-weight: 400; text-align: center; line-height: 260px; }

#contents .proList .option { width: 1000px; margin: 0 auto; text-align: center; padding: 30px 0; }

#contents .proList .option .mat { display: flex; padding-top: 10px; justify-content: center; }

#contents .proList .option .mat dd label { display: none; }

#contents .proList .option .mat dd .select { width: 125px; height: 30px; border: none; border-bottom: 1px solid #000; }

#contents .proList .option .mat dd .select2 { margin-right: 60px; }

#contents .SliderBox ul { display: flex; flex-wrap: wrap; }

#contents .SliderBox ul li { width: 33.33%; }

#contents .SliderBox ul li a { position: relative; display: block; }

#contents .SliderBox ul li a img { height: 260px; display: block; width: 100%; }

#contents .SliderBox ul li a .black { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.8; display: none; }

#contents .SliderBox ul li a .cover { position: absolute; left: 0%; top: 50%; margin-top: -70px; width: 100%; font-size: 0; text-align: center; }

#contents .SliderBox ul li a .cover .box { display: inline-block; width: 48px; height: 18px; border: 1px solid #5b5b5b; color: #fff; font-size: 9px; line-height: 18px; }

#contents .SliderBox ul li a .cover .name { display: block; width: 100%; color: #f0f0f0; font-size: 21px; font-weight: lighter; text-align: center; line-height: 1.25em; padding: 15px 0; }

#contents .SliderBox ul li a .cover .anchor { display: inline-block; border-bottom: 1px solid #868686; }

#contents .SliderBox ul li a .cover .anchor i { display: inline-block; color: #fff; font-size: 11px; }

.detailTop .miniMenu { display: flex; justify-content: flex-end; font-size: 12px; padding-top: 20px; }

.detailTop .miniMenu li { margin-right: 20px; }

.detailTop .miniMenu li ul { display: none; }
