#contents { background-color: #fff; margin-top: 60px; }

#contents .proTop .miniMenu { display: flex; justify-content: flex-end; font-size: 12px; padding-top: 20px; }

#contents .proTop .miniMenu li { margin-right: 20px; }

#contents .proTop .miniMenu li ul { display: none; }

#contents .proTop h2 { font-size: 50px; font-weight: 400; text-align: center; line-height: 260px; }

#contents .proList .option { width: 1000px; margin: 0 auto; text-align: center; padding: 30px 0; }

#contents .proList .option .mat { display: flex; padding-top: 10px; justify-content: center; }

#contents .proList .option .mat dd label { display: none; }

#contents .proList .option .mat dd .select { width: 125px; height: 30px; border: none; border-bottom: 1px solid #000; }

#contents .proList .option .mat dd .select2 { margin-right: 60px; }

#contents .SliderBox ul { display: flex; flex-wrap: wrap; }

#contents .SliderBox ul li { width: 33.33%; position: relative; }

#contents .SliderBox ul li a { display: block; }

#contents .SliderBox ul li a img { height: 260px; display: block; width: 100%; }

#contents .SliderBox ul li a .hoverBox { text-align: center; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.6); width: 100%; height: 260px; opacity: 0; transition: 0.3s; }

#contents .SliderBox ul li a .hoverBox .cover { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; width: 100%; font-size: 0; }

#contents .SliderBox ul li a .hoverBox .cover .box { display: inline-block; width: 48px; height: 18px; border: 1px solid #5b5b5b; color: #fff; font-size: 9px; line-height: 18px; }

#contents .SliderBox ul li a .hoverBox .cover .name { display: block; color: #f0f0f0; font-size: 21px; font-weight: lighter; text-align: center; line-height: 1.25em; padding: 15px 0; }

#contents .SliderBox ul li a .hoverBox .cover .bogi { display: inline-block; border-bottom: 1px solid #868686; }

#contents .SliderBox ul li a .hoverBox .cover .bogi i { display: inline-block; color: #fff; font-size: 11px; }

#contents .SliderBox ul li:hover .hoverBox { opacity: 1; }

.detailTop .miniMenu { display: flex; justify-content: flex-end; font-size: 12px; padding-top: 20px; }

.detailTop .miniMenu li { margin-right: 20px; }

.detailTop .miniMenu li ul { display: none; }
