html { font-size: 10px; }

body { font-family: "Lexend", "Noto Sans KR", sans-serif; font-size: 1.6rem; color: #111111; }

a { color: inherit; text-decoration: none; }

button { background: none; border: none; outline: none; }

.hidden { display: none; }

.container .banner { position: relative; height: 340px; background: url("../images/factorium_bg.jpg") no-repeat 50% 0; }

.container .banner .firstMenu { display: flex; position: absolute; right: 20px; top: 26px; }

.container .banner .firstMenu .firstLi { display: flex; padding-left: 10px; margin-right: 10px; font-size: 12px; color: #fff; background: url(../images/heritage/location_bar.gif) no-repeat 0 50%; }

.container .banner .firstMenu .firstLi a { padding-right: 10px; background: url(../images/heritage/location_arrow2.gif) no-repeat 100% 50%; }

.container .banner .firstMenu .firstLi .secondMenu { display: none; position: absolute; text-align: left; }

.container .banner .firstMenu .firstLi .secondMenu a { padding: 10px; display: block; }

.container .banner .firstMenu .firstLi:first-child { background: none; }

.container .banner .firstMenu .firstLi:first-child a { margin: 0; padding: 0; background: none; }

.container .banner .d { height: 259px; display: flex; flex-direction: column; justify-content: center; line-height: 1.5; }

.container .banner .d h1 { padding: 100px 0 10px 0; color: #fff; font-size: 50px; font-weight: 400; text-align: center; }

.container .banner .d p { color: #c7c7c7; font-size: 16px; text-align: center; letter-spacing: -3px; }

.container .root { margin-bottom: 50px; border-bottom: 1px solid #d3d3d3; }

.container .root .line ul { width: 1000px; margin: 0 auto; display: flex; justify-content: space-around; height: 70px; line-height: 70px; }

.container .root .line ul li { display: flex; }

.container .root .line ul li a { font-size: 20px; color: #777; }

.container .root .line ul li.on a { border-bottom: 3px solid #777; padding: 0 40px; }

.container .contents { width: 1000px; margin: 0 auto; }

.container .contents .title { width: 1000px; padding: 50px 0 25px 0; text-align: center; line-height: 100%; font-size: 38px; letter-spacing: 5px; background: url(../images/intro/lab_tt_bg.gif) no-repeat 50% 100%; }

.container .contents #map { margin: auto !important; }
