@import "vars";

form {
  .formTxt {
    h2 {
      font-size: 32px;
      text-align: center;
      padding-top: 20px;
    }
    p {
      font-size: 12px;
      text-align: center;
      color: #ccc;
    }
  }
  table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    align: center;
    width: 100%;
    tr,
    th {
    }
    th {
      width: 200px;
      border-top: 2px solid #000;
      border-bottom: 1px solid #ccc;
    }
    td {
      height: auto;
      border-bottom: 2px solid #000;
    }
    .bk {
      background: #ccc;
    }
  }
  .Boxline {
    border: 1px solid #000;
    th,
    td {
      border: none;
      text-align: left;
      padding-left: 100px;
    }
  }
  .listbogi {
    text-align: center;
    border: 3px solid #000;
    height: 30px;
    width: 200px;
    display: center;
  }
}
