html { font-size: 10px; }

body { font-family: "Lexend", "Noto Sans KR", sans-serif; font-size: 1.6rem; color: #111111; }

a { color: inherit; text-decoration: none; }

button { background: none; border: none; outline: none; }

.hidden { display: none; }

.container { min-width: 1000px; min-height: 650px; }

.container .banner { position: relative; height: 340px; background: url("../images/media_visual.jpg") no-repeat 50% 0; }

.container .banner .firstMenu { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 20px; top: 26px; }

.container .banner .firstMenu .firstLi { display: -webkit-box; display: -ms-flexbox; display: flex; padding-left: 10px; margin-right: 10px; font-size: 12px; color: #fff; background: url(../images/heritage/location_bar.gif) no-repeat 0 50%; }

.container .banner .firstMenu .firstLi a { padding-right: 10px; background: url(../images/heritage/location_arrow2.gif) no-repeat 100% 50%; }

.container .banner .firstMenu .firstLi .secondMenu { display: none; position: absolute; text-align: left; }

.container .banner .firstMenu .firstLi .secondMenu a { padding: 10px; display: block; }

.container .banner .firstMenu .firstLi:first-child { background: none; }

.container .banner .firstMenu .firstLi:first-child a { margin: 0; padding: 0; background: none; }

.container .banner .d { height: 259px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; line-height: 1.5; }

.container .banner .d h1 { padding: 100px 0 10px 0; color: #fff; font-size: 50px; font-weight: 400; text-align: center; }

.container .contents { margin: 45px auto; width: 100%; }

.container .contents h3 { padding: 50px 0 23px 0; font-size: 25px; text-align: center; font-weight: 400; background: url(../images/hotel/hotel_bg.gif) no-repeat 50% 100%; letter-spacing: -2px; }

.container .contents p { padding: 60px 0 115px 0; color: #a1a1a1; text-align: center; font-size: 14px; line-height: 1.5; }

.container .contents div img { width: 100%; }

.container .contents span { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: end; width: 1000px; margin: 0 auto; padding: 90px 0 8px 0; color: #777; font-size: 12px; }

.container .contents .hotelTap { width: 1000px; margin: 0 auto; border-bottom: 2px solid #000; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.container .contents .hotelTap li { width: 332px; border-top: 1px solid #a1a1a1; border-left: 1px solid #a1a1a1; }

.container .contents .hotelTap li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 32px; background: url(../images/hotel/hotel_tab_off.png) no-repeat 230px 50%; font-size: 12px; line-height: 32px; }

.container .contents .hotelTap li:last-child { border-right: 1px solid #a1a1a1; }

.container .contents .hotelTap li.on a { background: url(../images/hotel/hotel_tab_on.png) no-repeat 230px 50% #000; color: #fff; }

.container .contents .simmonsList { width: 1000px; padding-top: 35px; margin: 0 auto; }

.container .contents .simmonsList ul { width: 1040px; height: 900px; display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; }

.container .contents .simmonsList ul li { width: 220px; height: 39px; font-size: 11px; border-bottom: 1px solid #a1a1a1; line-height: 39px; letter-spacing: -2px; }

.container .contents .simmonsList ul > li { width: 25%; height: auto; border-bottom: none; }

.container .contents .info { width: 1000px; margin: 150px auto 0 auto; padding: 25px 0 35px 0; border: 1px solid #a1a1a1; background-color: #f1f1f1; }

.container .contents .info dl { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.container .contents .info .q { padding-bottom: 2px; line-height: 30px; }

.container .contents .info .q dt { font-size: 18px; padding-right: 25px; margin-right: 15px; background: url(../images/hotel/hotel_info_arrow.png) no-repeat 100% 50%; }

.container .contents .info .q dd { font-size: 20px; }

.container .contents .info .mail { color: #a1a1a1; font-size: 12px; letter-spacing: 2px; }
