body {
    text-align: center;
    .mainImg {
        width: 100%;
        height: 340px;
        margin-top: 60px;
        overflow: hidden;
        background: url(../../images/theblack_bg.jpg) no-repeat 50% 0;
        .miniMenu {
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
            padding-top: 20px;
            > li {
                margin-right: 20px;
                ul {
                    display: none;
                    &.open {
                        display: block;
                    }
                }
                a {
                    color: #fff;
                }
            }
        }
        .mainTxt {
            text-align: center;
            margin-top: 80px;
            h2 {
                color: #fff;
                font-size: 50px;
            }
            > p {
                color: #c7c7c7;
                font-size: 16px;
                line-height: 3;
                padding-top: 0;
            }
        }
    }
    .theBackTitle {
        width: 100%;
        padding: 140px 0 65px;
        text-align: center;
        background: url(../../images/heritage/list_bg.jpg) no-repeat 50% 100%;
        margin-bottom: -90px;
        img {
            margin: 0 auto;
        }
    }
    h3 {
        background: url(../../images/intro/lab_tt_bg.gif) no-repeat 50% 100%;
        font-size: 35px;
        letter-spacing: 8px;
        padding: 25px 0;
        margin-top: 150px;
    }
    p {
        padding: 60px 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #acacac;
    }
    div {
        overflow: hidden;
        > ul.Slider {
            display: flex;
            flex-wrap: nowrap;
            width: 500%;
            li {
                width: 100%;
            }
        }
        .layList {
            display: flex;
            width: 1000px;
            margin: 0 auto;
            padding-top: 60px;
            li {
                background: url(../../images/theblack_bg03.png) no-repeat 0 0;
                width: 480px;
                margin-left: 40px;
                &:first-child {
                    margin-left: 0;
                }
                h4 {
                    padding-top: 40px;
                    font-size: 18px;
                }
                p {
                    padding-top: 10px;
                }
            }
        }
    }
}
