<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simmons.mybatis.product">
	<insert id="productInsert" parameterType="productDto">
		insert into product values(seq_product.nextval,
								   #{category},
								   #{pname},
								   #{component},
								   #{material},
								   #{productor},
								   #{delivery},
								   #{guarantee},
								   #{precaution},
								   #{test},
								   #{img},
								   #{realImg},
								   #{contents},		
								   #{hardness},		
								   #{type},
								   #{pattern}
		)
	</insert>
	
	<insert id="sizesInsert" parameterType="Map">
		insert into sizes values(#{pname},
								 #{sizes},
								 #{spec},
								 #{price},
								 <choose>
								  	<when test="sizes=='GK'">
									  	'그레이트킹'
								  	</when>
								  	<when test="sizes=='KK'">
									  	'킹오브킹'
								  	</when>
								  	<when test="sizes=='LK'">
									  	'라지킹'
								  	</when>
								  	<when test="sizes=='QE'">
									  	'퀸'
								  	</when>
								  	<when test="sizes=='SS'">
									  	'슈퍼싱글'
								  	</when>
								  </choose> 
		)
	</insert>
	
	<insert id="colorInsert" parameterType="Map">
		insert into color values(#{pname},
								 #{sizes},
								 #{color},
								 0
		)
	</insert>
	
	<select id="SelectOne" parameterType="integer" resultType="productDto">
		select * from product where no = #{no}
	</select>
	
	<select id="getHContents" parameterType="String" resultType="String">
		select contents from hardness where class = #{hardness}
	</select>
	
	<select id="getSizes" parameterType="String" resultType="productSizeDto">
		select * from sizes where pname = #{pname} order by price desc
	</select>
	
	<select id="getProductAllList" resultType="productDto">
		select * from product order by no
	</select>
	
	<select id="getPrice" parameterType="Map" resultType="integer">
		select price from sizes where sizes = #{sizes} and pname = #{pname}
	</select>
</mapper>