@import "../vars";

html {
  font-size: 10px;
}
body {
  font-family: "Lexend", "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  color: $text-color;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  background: none;
  border: none;
  outline: none;
}
.hidden {
  display: none;
}

.container {
  .banner {
    position: relative;
    height: 340px;
    background: url("../images/history_visual.jpg") no-repeat 50% 0;
    .firstMenu {
      display: flex;
      position: absolute;
      right: 20px;
      top: 26px;
      .firstLi {
        display: flex;
        padding-left: 10px;
        margin-right: 10px;
        font-size: 12px;
        color: #fff;
        background: url(../images/heritage/location_bar.gif) no-repeat 0 50%;
        a {
          padding-right: 10px;
          background: url(../images/heritage/location_arrow2.gif) no-repeat 100% 50%;
        }
        .secondMenu {
          display: none;
          position: absolute;
          text-align: left;
          a {
            padding: 10px;
            display: block;
          }
        }
      }
      .firstLi:first-child {
        background: none;
        a {
          margin: 0;
          padding: 0;
          background: none;
        }
      }
    }
    .d {
      height: 259px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1.5;
      h1 {
        padding: 100px 0 10px 0;
        color: #fff;
        font-size: 50px;
        font-weight: 400;
        text-align: center;
      }
      p {
        color: #c7c7c7;
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

.contents {
  position: relative;
  width: 100%;
  margin: 50px auto;
  background: url(../images/heritage/history_pointer.png) no-repeat 50% 460px;
  .hTitle {
    padding: 80px 0 245px 0;
    text-align: center;
    background: url(../images/heritage/list_bg.jpg) no-repeat 50% 60%;
    h4 {
      color: $gray-color;
      font-size: 45px;
      font-weight: 500;
      padding-bottom: 40px;
      line-height: 1.25;
    }
    .subtitle {
      p {
        color: $gray-color;
        font-size: 20px;
      }
    }
  }
  .yearTitle {
    margin: 0 0 60px 0;

    text-align: center;
    h1 {
      font-size: 35px;
      padding-bottom: 15px;
    }
    p {
      font-size: 16px;
      color: $gray-color;
    }
  }
  .year {
    background-repeat: no-repeat;
    background-position: 50% 15px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    .picture {
      width: 400px;
      padding-right: 80px;
      text-align: right;
    }
    .cont {
      display: flex;
      ul {
        margin-left: 10px;
        width: 550px;
        height: 380px;
        li {
          background: url(../images/heritage/history_bullet.png) no-repeat 2.5px 15px;
          padding: 0 0 40px 45px;
          font-size: $small-size;
          line-height: 1.5;
          em {
            padding-bottom: 10px;
            display: flex;
            font-size: 28px;
          }
          span {
            font-weight: 600;
            display: inline-block;
          }
          p {
            color: $light-gray-color;
            word-spacing: -3px;
          }
        }
      }
    }
  }
  .year1 {
    background-image: url(../images/heritage/history_bg1.gif);
  }
  .year2 {
    background-image: url(../images/heritage/history_bg2.gif);
    height: 300px;
    .picture {
      padding-top: 50px;
    }
  }

  .paper {
    padding-bottom: 75px;
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 1000px;
      li {
        .name {
          padding-top: 15px;
          text-align: center;
          p {
            font-size: $normal-size;
            padding-bottom: 5px;
          }
          span {
            font-size: $small-size;
            color: $light-gray-color;
          }
        }
      }
    }
  }
  .year3 {
    background-image: url(../images/heritage/history_bg3.gif);
    height: 430px;
    .picture {
      padding: 0 115px;
    }
  }
  .year3_1 {
    background-image: url(../images/heritage/history_bg3.gif);
    background-position: 50% -5px;
    margin-bottom: 30px;
  }
  .year4 {
    background-image: url(../images/heritage/history_bg4.gif);
    height: 500px;
  }
  .year5 {
    background-image: url(../images/heritage/history_bg5.png);
    background-position: 50% -5px;
    height: 1200px;
    .cont {
      ul {
        padding-top: 75px;
        li {
          padding-bottom: 0;
          p {
            padding-bottom: 40px;
          }
        }
      }
    }

    .picture {
      padding-top: 75px;
    }
  }

  .yearVideo {
    position: relative;
    width: 1000px;
    height: 220px;
    margin: 0 auto;
    a {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 50;
    }
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 655px;
      display: none;
    }
  }
  .award {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .scrollBox {
      position: relative;
      overflow: hidden;
      height: 100%;
      max-width: 100%;
      ul {
        width: 1820px;
        height: 300px;
        display: flex;
        li {
          text-align: center;
          display: flex;
          flex-direction: column;
          background-repeat: no-repeat;
          background-position: 0 0;
          width: 185px;
          margin-right: 18px;
          p {
            padding-top: 190px;
            font-size: 11px;
            line-height: 1.25;
            word-spacing: -2px;
          }
          em {
            height: 28px;
            font-size: $normal-size;
            text-align: center;
          }
          span {
            font-size: $small-size;
            text-align: center;
            color: $light-gray-color;
          }
        }
        li:nth-child(1) {
          background-image: url(../images/heritage/history_award_01.jpg);
        }
        li:nth-child(2) {
          background-image: url(../images/heritage/history_award_02.jpg);
        }
        li:nth-child(3) {
          background-image: url(../images/heritage/history_award_03.jpg);
        }
        li:nth-child(4) {
          background-image: url(../images/heritage/history_award_04.jpg);
        }
        li:nth-child(5) {
          background-image: url(../images/heritage/history_award_05.jpg);
        }
        li:nth-child(6) {
          background-image: url(../images/heritage/history_award_06.jpg);
        }
        li:nth-child(7) {
          margin-right: 0;
          background-image: url(../images/heritage/history_award_07.jpg);
        }
      }
    }
    .scroll {
      height: 100%;
      .draggerContainer {
        position: absolute;
        width: 1000px;
        height: 2px;
        background-color: $light-gray-color;
        opacity: 0.75;
        margin: 6px auto;
      }
      .draggerbar {
        position: absolute;
        width: 550px;
        height: 4px;
        background-color: $gray-color;
        margin: 5px 0;
        border-radius: 16px;
      }
    }
  }
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .hisWrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 20px;
    .historyList {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 50;
      width: 100%;
      height: 1000px;
      background: url(../images/heritage/phil_img.jpg) no-repeat 0 0;
      background-size: cover;
      display: flex;
      justify-content: start;
      flex-direction: column;
      text-align: center;
      color: $gray-color;
      padding-top: 200px;
      h3 {
        padding: 0 0 25px 0;
        font-size: 35px;
        background: url(../images/heritage/hotel_bg.gif) no-repeat 50% 100%;
        color: #000;
      }
      p {
        padding: 55px 0 15px 0;
        font-size: 15px;
      }
      span {
        font-size: 13px;
        line-height: 1.25;
      }
      ul {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        li {
          margin-left: 5px;
          width: 238px;
          height: 238px;
          background-repeat: no-repeat;
          background-position: 0 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          em {
            color: $white-color;
            font-size: 21px;
          }
          p {
            padding-top: 30px;
            font-size: 12px;
            line-height: 1.25;
            color: $light-gray-color;
          }

          &:nth-child(1) {
            background: url(../images/heritage/list1.jpg);
          }
          &:nth-child(2) {
            background: url(../images/heritage/list2.jpg);
          }
          &:nth-child(3) {
            background: url(../images/heritage/list3.jpg);
          }
          &:nth-child(4) {
            background: url(../images/heritage/list4.jpg);
          }
        }
      }
    }
  }
}
